@charset "UTF-8";

.form-text2 {
  margin-top: 0.25rem;
  font-size: 0.7em;
  font-weight: bolder;
  color: var(--bs-danger);
}

.status_div {
  font-size: 1;
  font-weight: bolder;
  color: var(--bs-dark);
}

.status_div_p {
  font-size: 1;
  font-weight: bolder;
  color: var(--bs-primary);
}

.status_div_d {
  font-size: 1;
  font-weight: bolder;
  color: var(--bs-danger);
}

.del-zone {
  margin-bottom:5px;
  margin-right:3px;
}

.chk-zone {
  margin-bottom:5px;
  margin-right:5px;
  margin-left: 2px;
}

.form-text-del {
  font-size: 1;
  font-weight: bolder;
  color: var(--bs-danger);
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

/* 메인 폰트 */
.main-font {
    color: #4B5563; /* text-gray-600 */
    text-decoration: none;
    outline: none;
}

.main-font:hover {
    color: #111827; /* text-gray-900 */
}

@media (prefers-color-scheme: dark) {
    .main-font {
        color: #9CA3AF; /* dark:text-gray-400 */
    }

    .main-font:hover {
        color: #ffffff; /* dark:hover:text-white */
    }
}

.main-font:focus {
    outline: 2px solid #EF4444; /* outline-red-500 */
    border-radius: 0.125rem; /* rounded-sm */
}

.with {
    display: flex;
    justify-content: space-between;
}

.with2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.with3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 글쓰기 위에 적용 */
.up-box {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.flex-center {
    display: flex;
    justify-content: center;
}


.mb_5 {
    margin-bottom: 5px;
}

.msg_chk {
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 2px;
}

.file-zone {
    display: flex;
    flex-direction: column;
}

.textarea_content {
    max-height: 140px;
    width: 700px;
}

.with_gap {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.title_d {
    flex: 7;
}


.fr {
    float: right;
}

.w-5 {
  width: 5% !important;
}

.w-8 {
  width: 7% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-50 {
  width: 60% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 60% !important;
}


.with {
    display: flex;
    justify-content: space-between;
}

.name-div {
  color: #ffffff;
  text-decoration: none;
}
